#flav-label {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

* {
  background-color: #f3eeec;
  color: #44392d;
  transition: 0.5s;
  padding: 3px;
  text-align: center;
}

body {
  background-color: #f3eeec;
  max-width: fit-content;
  margin: auto;
  min-width: fit-content;
}

button {
  background-color: #efd7d2;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
  text-align: center;
}

#generated {
  text-align: left;
  padding: 0 10px 3px;
  margin: 0 0 2px;
}

.checkbox {
  padding: 0;
  text-align: left;
}

.checkbox input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1em;
  height: 1em;
  border: 0.15em solid #c86464;
  cursor: pointer;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: #c86464;
  position: relative;
}

.checkbox input[type="checkbox"]:hover {
  box-shadow: 0 0 20px #c86464;
}

#gen-title {
  padding: 10px 0 0;
}


fieldset {
  margin: 0 10px;
}